.navbar {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgrey;
    background-color: #030301;
    color: white;
}

app-menu {
    display: block;
    background-color: #C7CDDA;
    padding: 0rem;
    border-radius: 5px;
    color: white;
    height: 100px;
  }

.navbar-cart {
    position: relative;
    margin-right: 1rem;
}

.navbar-cart-items {
    position: relative;
    left: 8.5px;
    top: -0.8rem;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    background-color: rgb(172, 14, 14);
    height: 20px;
    width: 20px;
}

.navbar-cart-items p {
    font-size: 0.8rem;
    text-align: center;
}

.space {
    width: 6px;
    height: auto;
    display: inline-block;
  }
  